body {
    margin: 0;
    padding: 0;
  }

  .linea {
    position: relative;
    top: 50%;
    width: 0;
    height: 4px;
    background-color: rgb(9, 199, 183);
    animation-name: animacion-linea;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
  }

  @keyframes animacion-linea {
    0% {
      left: -100%;
      width: 0;
    }
    50% {
      left: 0;
      width: 50%;
    }
    100% {
      left: 0;
      width: 100%;
    }
  }


  